.DetalhesProjeto {
    padding: 2em;
}
.DetalhesProjeto h1,
.DetalhesProjeto h2,
.DetalhesProjeto p {
    margin-bottom: 0.5em;
}

.DetalhesProjeto h1 {
    background-color: #222;
    color: #ffbb33;
    padding: 0.4em;
    border-radius: 8px;
}
.DetalhesProjeto span {
    font-weight: bold;
}
.Detalhes_Container,
.service_Form_Container {
    width: 100%;
    border-bottom: 1px solid #7a7a7a;
    margin-bottom: 1.2em;
    padding-bottom: 1.2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.btn {
    background-color: #222;
    color: #fff;
    padding: .7em 1.2em;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    max-height: 40px;
  }
  .btn:hover{
    color: #ffbb33;
  }
.projeto_info {
    width: 100%;

}